{% extends 'security/base.html' %}

{% block title %}{{ super() }}Forgot password{% endblock %}

{% block panel_title %}Forgot password{% endblock %}
{% block panel_right_content %}<a href="{{ url_for('security.login') }}">Sign In</a>{% endblock %}

{% block form_content %}
    <form action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
        {% import 'bootstrap/wtf.html' as wtf %}
        {{ forgot_password_form.hidden_tag() }}
        {{ wtf.form_errors(forgot_password_form, hiddens='only') }}

        {{ wtf.form_field(forgot_password_form.email) }}
        <input class="btn btn-primary btn-lg btn-block" name="submit" type="submit" value="Recover password">
    </form>
{% endblock %}
