{% extends 'security/base.html' %}

{% block title %}{{ super() }}Login{% endblock %}

{% block panel_title %}Sign in{% endblock %}

{% from '_forms.html' import render_errors %}

{% block form_content %}
    <form action="{{ url_for('security.login') }}" method="POST" name="login_user_form" class="form-horizontal">
        {% import 'bootstrap/wtf.html' as wtf %}
        {{ login_user_form.hidden_tag() }}
        {{ wtf.form_errors(login_user_form, hiddens='only') }}

        <div style="margin-bottom: 15px" class="input-group">
            <span class="input-group-addon"
                  data-toggle="tooltip" data-placement="left" data-container="body" title="Email">
                {{ icon('envelope') }}
            </span>
            <input required type="text" class="form-control" name="email" value=""
                   placeholder="Email">
        </div>
        {{ render_errors(login_user_form.email) }}

        <div style="margin-bottom: 15px" class="input-group">
            <span class="input-group-addon"
                  data-toggle="tooltip" data-placement="left" data-container="body" title="Password">
                {{ icon('lock') }}
            </span>
            <input required type="password" class="form-control" name="password"
                   placeholder="Password">
        </div>
        {{ render_errors(login_user_form.password) }}

        <div class="input-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" value="1"> Remember me
                </label>
            </div>
        </div>

        <div style="margin-top:10px" class="form-group">
            <div class="col-lg-12 controls">
                <input class="btn btn-primary btn-lg btn-block" name="submit" type="submit" value="Login">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                    Don't have an account?
                    <a href="#">Sign Up Here</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}