{% extends 'security/base.html' %}

{% block title %}{{ super() }}Forgot password{% endblock %}

{% block panel_title %}Reset Password{% endblock %}
{% block panel_right_content %}<a href="{{ url_for('security.login') }}">Sign In</a>{% endblock %}

{% block form_content %}
    <form action="{{ url_for('security.reset_password', token=reset_password_token) }}" method="POST"
          name="reset_password_form">
        {% import 'bootstrap/wtf.html' as wtf %}
        {{ reset_password_form.hidden_tag() }}
        {{ wtf.form_errors(reset_password_form, hiddens='only') }}

        {{ wtf.form_field(reset_password_form.password) }}
        {{ wtf.form_field(reset_password_form.password_confirm) }}
        <input class="btn btn-primary btn-lg btn-block" name="submit" type="submit" value="Reset Password">
    </form>
{% endblock %}
