{% macro money_account_list_group_content(money_account, fields) %}
    <ul class="list-group">
        {% for field in fields %}
            {% if field == 'id' %}
                {% if current_user.has_role('admin') %}
                    <li class="list-group-item list-group-item-info">
                        ID<span class="badge">{{ money_account.id }}</span>
                    </li>
                {% endif %}
            {% elif field == 'balance-with-bonus' %}
                <li class="list-group-item">
                    Balance
                    <span class="badge">
                        {{ money_account.real_money }} RUB
                        {% if money_account.bonus_money != 0 %}
                            + {{ money_account.bonus_money }} bonuses
                        {% endif %}
                    </span>
                </li>
            {% elif field == 'minimal-balance-allowed' %}
                <li class="list-group-item">
                    Minimal balance allowed
                    <span class="badge">{{ money_account.minimal_balance_allowed }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}
