{% set subscribe_button_class = 'trigger-list-group-subscribe' %}
{% set unsubscribe_button_class = 'trigger-list-group-unsubscribe' %}

{% macro trigger_list_group_content(trigger, fields) %}
    <ul class="list-group">
        {% for field in fields %}
            {% if field == 'id' %}
                {% if current_user.has_role('admin') %}
                    <li class="list-group-item list-group-item-info">
                        ID<span class="badge">{{ trigger.id }}</span>
                    </li>
                {% endif %}
            {% elif field == 'interval' %}
                <li class="list-group-item">
                    <span class="badge">{{ trigger.interval }}</span>
                    Interval
                </li>
            {% elif field == 'reactivation_interval' %}
                <li class="list-group-item">
                    {% from '_helpers.html' import easy_readable_timedelta with context %}
                    <span class="badge">{{ easy_readable_timedelta(trigger.reactivation_interval) }}</span>
                    Reactivation interval
                </li>
            {% elif field == 'threshold' %}
                <li class="list-group-item">
                    <span class="badge">{{ trigger.threshold }}</span>
                    Threshold
                </li>
             {% elif field == 'camera' %}
                {% if trigger.camera %}
                    <li class="list-group-item">
                        <span class="badge">{{ trigger.camera.name }}</span>
                        Camera
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <span class="badge progress-bar-warning">Not set</span>
                        Camera
                    </li>
                {% endif %}
            {% elif field == 'camera_with_link' %}
                {% if trigger.camera %}
                    <li class="list-group-item">
                        <span class="badge">{{ trigger.camera.name }}</span>
                        <a href="{{ url_for('camera', id=trigger.camera.id) }}">Camera</a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <span class="badge progress-bar-warning">Not set</span>
                        Camera
                    </li>
                {% endif %}
            {% elif field == 'max_snapshots_to_store' %}
                {% if current_user.has_role('admin') %}
                    <li class="list-group-item list-group-item-info">
                        <span class="badge">{{ trigger.max_snapshots_to_store }}</span>
                        Max event snapshots to store
                    </li>
                {% endif %}
            {% elif field == 'is_subscribed' %}
                <li class="list-group-item">
                    {% if trigger in current_user.triggers_subscriptions %}
                        Notifications enabled
                        <button class="btn btn-primary btn-xs pull-right {{ unsubscribe_button_class }}"
                                data-loading="Unsubscribe..."
                                data-trigger-id="{{ trigger.id }}">
                            Unsubscribe
                        </button>
                    {% else %}
                        Notifications disabled
                        <button class="btn btn-info btn-xs pull-right {{ subscribe_button_class }}"
                                data-loading="Subscribing..."
                                data-trigger-id="{{ trigger.id }}">
                            Subscribe
                        </button>
                    {% endif %}
                </li>
            {% elif field == 'events_count' %}
                <li class="list-group-item">
                    <span class="badge">{{ trigger.events_count }} times</span>
                    Activated
                </li>
            {% elif field == 'tooltip' %}
                <li class="list-group-item">
                    <span class="badge">{{ trigger.tooltip() }}</span>
                    Activates on
                </li>
            {% elif field == 'money_account' %}
                <li class="list-group-item">
                    {% set money_account = trigger.money_account %}
                    {% if money_account %}
                        Linked to money account of
                        <span class="badge">{{ money_account.user.first_name }} {{ money_account.user.last_name }}</span>
                    {% else %}
                        Money account<span class="badge progress-bar-warning">Not set</span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro trigger_list_group_script(fields) %}
    {% for field in fields %}
        {% if field == 'is_subscribed' %}
            <script type="text/javascript">
                function send_subscription_request(button, url) {
                    var triggerId = button.dataset['triggerId'];
                    var $button = $(button);
                    url = url.replace('0', triggerId);
                    $button.button('loading');
                     $.ajax({
                         url: url,
                         type: 'POST',
                         dataType: 'text',
                         success: function () {
                             window.location.reload();
                         },
                         error: function (jqXHR) {
                             if (jqXHR.status && jqXHR.status === 400) {
                                 alert('Error occurred sending data. Check your connection or try again');
                             }
                             $button.button('reset');
                         }
                     });
                }

                $('.{{ subscribe_button_class }}').click(function () {
                    send_subscription_request(this, '{{ url_for('trigger_subscribe', id=0) }}');
                });

                $('.{{ unsubscribe_button_class }}').click(function () {
                    send_subscription_request(this, '{{ url_for('trigger_unsubscribe', id=0) }}');
                });
            </script>
        {% endif %}
    {% endfor %}
{% endmacro %}
