{% extends "bootstrap/base.html" %}

{# Usefull bootstrap utils #}
{% from 'bootstrap/utils.html' import icon %}

{# Extend it by using {{ super() }} #}
{% block title %}{{ config_tag[0]|default('') }}{{ config['SITE_NAME'] }} - {% endblock %}

{% block styles %}
    {{ super() }}

    {# Font-awesome #}
    <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">

    {# Common CSS modifiers #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-callout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-modify.css') }}">
    <!--suppress CssUnusedSymbol -->
    <style>
        .modal-trigger {
            cursor: pointer;
        }

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        .tooltip-inner {
            max-width: 500px !important;
        }

        .tooltip-inner {
            max-width: 500px !important;
        }

        .lena-logo {
            text-align:center;
            color: #333;
        }

        .name-t {
            display:inline-block;
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            padding-bottom: 0px;
            border-bottom: 1px solid #ddd;
            font-size: 25px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            line-height: 1.5;
            font-weight: 420;
        }
        .name-b {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .name-t1 {
            display:inline-block;
            padding: 0px;
            margin: 0px;
            margin-top: 20px;
            padding-bottom: 0px;
            font-family: 'Poiret One';
            color: rgba(148, 139, 139, 1);
            font-size: 47px;
            line-height: 47px;
        }
    </style>
{% endblock %}

{% block head %}
    {{ super() }}

    {# Moment.js #}
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/moment/min/moment-with-locales.min.js') }}"></script>

    <script type="text/javascript">
        var locale = window.navigator.userLanguage || window.navigator.language;
        moment.locale(locale);
    </script>
{% endblock %}

{% block content %}
    {% from 'bootstrap/utils.html' import flashed_messages %}
    {{ flashed_messages(dismissible=True) }}

<main role="main" class="container">
    <div class="lena-logo">
        <p class="name-t1">Лена Дробышевская</p>
        <!--<p class="name-b">ФОТОГРАФ</p>-->
    </div>
</main>

{% endblock %}

{% block scripts %}
    {{ super() }}

    {# Common JavaScript #}
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        if (!Array.prototype.last) {
            Array.prototype.last = function () {
                return this[this.length - 1];
            };
        }

        if (!Array.prototype.first) {
            Array.prototype.first = function () {
                return this[0];
            };
        }

        $(document).ready(function() {
            // $('[data-toggle="tooltip"]').tooltip({html: true});
        });

        function setHash(hash) {
            {# http://stackoverflow.com/questions/3870057/how-can-i-update-window-location-hash-without-jumping-the-document #}
            if (!hash.startsWith('#')) {
                hash = '#' + hash;
            }
            if (history.pushState) {
                // IE10, Firefox, Chrome, etc.
                window.history.pushState(null, null, hash);
            } else {
                // IE9, IE8, etc
                window.location.hash = hash;
            }
        }
    </script>
{% endblock %}
