{% extends 'base.html' %}
{% set active_page = 'marking' %} {# For menu highlight #}
{% block title %}{{ super() }}Marking{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='bower_components/metrics-graphics/dist/metricsgraphics.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}"
  rel="stylesheet">
<!--suppress CssUnusedSymbol -->
<style> {# Bigger fonts for graphs #}
  .mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-active-datapoint {
  font-size: 1.5rem;
  }
</style>
{% endblock %}
{% block content %}
{{ super() }}

{% if is_empty %}
  {% set disabled_if_empty = "disabled" %}
{% else %}
  {% set disabled_if_empty = "" %}
{% endif %}

<main role="main" class="container">
  <!--<h2 style="margin-top: 0px;">Current tasks</h2>-->
  <div class="list-group" style="margin-top: 0px;">
    {% for task in tasks %}

      <div class="list-group-item justify-content-between {{ 'disabled' if not task['enabled'] }}"
           style="padding: 0px;">

        <h3 class="list-group-item-heading" style="margin: 15px;">
          {{ task['name'] }}
        </h3>

        <div class="list-group">
        {% if task['stats'] is not none %}

          <a href="{{'/reannotation?task=' + task['id'] if task['enabled'] else '#'}}"
             class="list-group-item annotation-subsection-item">

            <h4 class="list-group-item-heading lead">Annotation</h4>
            <p class="lead list-group-item-text">
              total samples: <span class="label label-info">{{ task['stats']['total'] }}</span>
              , to check: <span class="label label-info">{{ task['stats']['to_check'] }}</span>
              , checked: <span class="label label-success">{{ task['stats']['total_checked'] }}</span>
              , reannotated: <span class="label label-success">{{ task['stats']['total_reannotated'] }}</span>
            </p>
          </a>

          <a href="#" class="list-group-item annotation-subsection-item">
            <h4 class="list-group-item-heading lead">Metrics</h4>
            <p class="lead list-group-item-text">
              accuracy: <span class="label label-info">0.99992112</span>
              , accuracy grouth: <span class="label label-success">1.2%</span>
              , auc: <span class="label label-info">0.991212212</span>
            </p>
          </a>

          <div class="list-group-item annotation-subsection-item">
            <h4 class="list-group-item-heading lead">Manage</h4>
            <p class="lead list-group-item-text" style="margin-top: 15px;">
              <button type="button" style="min-width: 100px;" class="btn btn-success">Train</button>
              <button type="button" style="min-width: 100px;" class="btn btn-success disabled">Deploy</button>
            </p>
          </div>

        {% endif %}
        </div>


      </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/holderjs/holder.min.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/bootstrap-select/js/bootstrap-select.js') }}"></script>

<script type="text/javascript">

  $(document).ready(function() {

  });
</script>
{% endblock %}