{% extends 'base.html' %}
{% set active_page = 'reannotation' %} {# For menu highlight #}
{% block title %}{{ super() }}Annotation{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='bower_components/metrics-graphics/dist/metricsgraphics.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='css/reannotation_gender.css') }}?q={{ ctx['ts'] }}"
  rel="stylesheet">
<!--suppress CssUnusedSymbol -->
<style> {# Bigger fonts for graphs #}
  .mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-active-datapoint {
  font-size: 1.5rem;
  }
</style>
{% endblock %}
{% block content %}
{{ super() }}

<main role="main" class="container">
  {% if ctx['is_empty'] %}
    <div class="starter-template" style="padding: 0px 15px; text-align: center;">
      <h1>No images to annotate.</h1>
      <p class="lead">
        Statistics: {{ctx['stats']['total_checked']}} images checked, {{ctx['stats']['total_reannotated']}} images annotated.
        <br> <a href="/reannotation">Go back</a> to select task.
      </p>
    </div>
  {% else %}
    <h2 style="margin-top: 0px;">Find all images with
      <span class="text-info">
      {{'woman' if ctx['is_male'] else 'man'}}
      </span>
      <small>
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
        <span class="pointer glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#instructions-modal"></span>
      </small>
      <!--<small><span style="margin-left: 10px;">Progress: {{ctx['stats']['total_checked']}}/{{ctx['stats']['total']}}</span></small>-->
      <form id='form_send' method="post" action="/update_gender_data" style="display: inline-block;">
        {{ form.csrf_token }}
        {{ form.is_male() }}
        {{ form.gender_data() }}
        <button type="button" style="margin-left: 10px; min-width: 100px;" class="btn btn-success">Next</button>
      </form>
    </h2>
    {% for sample in ctx['samples'] %}
        <div class="sample-card {{'sample-card-man' if ctx['is_male'] else 'sample-card-woman'}}"
          data-sample-id="{{sample['id']}}">
          {% if current_user.has_role('moderator') %}
            <div style="font-weight:300;text-align:center;">{{sample['error_label']}}: {{'%0.3f' % sample['error']|float}}</div>
          {% endif %}
          <img src="{{ sample['image'] }}" role="button" class="img-card">
          <div class="caption">
            <div class="btn-group" role="group">
              <button type="button" style="width: 63px;" class="btn btn-default btn-gender">{{'woman' if ctx['is_male'] else 'man'}}</button>
              <button type="button" style="width: 49px;" class="btn btn-default btn-gender-hard">hard</button>
              <button type="button" style="width: 39px;" class="btn btn-default btn-gender-bad">bad</button>
            </div>
          </div>
          <div class="gender-data-container" data-sample-id="{{sample['id']}}"></div>
        </div>
    {% endfor %}
    <div class="footer" style="height: 40px;"></div>
  {% endif %}
</main>

<!-- Modal -->
<div id="instructions-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Annotation instructions</h4>
      </div>
      <div class="modal-body">
        <h4>Task</h4>
        <p>The task is to find and select pictures of <strong>men</strong> or <strong>women</strong> as indicated in the header</p>
        <ul>
          <li>Click on image to select it</li>
          <li>You can also select image by clicking on the button (<strong>woman/man</strong>)</li>
          <li>Click on <strong>bad</strong> button if image does not contain face or image is not properly cropped</li>
          <li>Click on <strong>hard</strong> button if it's difficult to say whether man or woman on the image</li>
          <li><span class="label label-info">Blue</span> color stands for man, <span class="label label-warning">yellow</span> color stands for woman</li>
          <li>If the image has poor lighting but face is recognizable, try to determine the gender</li>
          <li>Select <strong>bad</strong> (or <strong>hard</strong>) if it is <em><strong>really</strong></em>
          <strong>bad</strong> (or <strong>hard</strong>)</li>
        </ul>
        <h4>Examples</h4>
        <p>Man</p>
        <div class="sample-card sample-card-man">
          <img src="{{url_for('static', filename='images/gender/man/4232.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-man">
          <img src="{{url_for('static', filename='images/gender/man/4272.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-man">
          <img src="{{url_for('static', filename='images/gender/man/5574.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-man">
          <img src="{{url_for('static', filename='images/gender/man/5470.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-man">
          <img src="{{url_for('static', filename='images/gender/man/5461.jpeg')}}" class="img-card">
        </div>
        <p>Woman</p>
        <div class="sample-card sample-card-woman">
          <img src="{{url_for('static', filename='images/gender/woman/4486.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-woman">
          <img src="{{url_for('static', filename='images/gender/woman/2036.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-woman">
          <img src="{{url_for('static', filename='images/gender/woman/3607.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-woman">
          <img src="{{url_for('static', filename='images/gender/woman/5210.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-woman">
          <img src="{{url_for('static', filename='images/gender/woman/5542.jpeg')}}" class="img-card">
        </div>
        <p>Hard</p>
        <div class="sample-card sample-card-bad">
          <img src="{{url_for('static', filename='images/gender/hard/2061.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-bad">
          <img src="{{url_for('static', filename='images/gender/hard/5626.jpeg')}}" class="img-card">
        </div>
        <p>Bad</p>
        <div class="sample-card sample-card-bad">
          <img src="{{url_for('static', filename='images/gender/bad/2547.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-bad">
          <img src="{{url_for('static', filename='images/gender/bad/4399.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-bad">
          <img src="{{url_for('static', filename='images/gender/bad/5089.jpeg')}}" class="img-card">
        </div>
        <div class="sample-card sample-card-bad">
          <img src="{{url_for('static', filename='images/gender/bad/4428.jpeg')}}" class="img-card">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/holderjs/holder.min.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/bootstrap-select/js/bootstrap-select.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='js/gender-manager.js') }}?q={{ctx['ts']}}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var global_is_male = {{ '1' if ctx['is_male'] else '0' }};
    GenderManager.init(global_is_male);
  });
</script>
{% endblock %}