{% extends 'base.html' %}
{% set active_page = 'reannotation' %} {# For menu highlight #}
{% block title %}{{ super() }}Reannotation{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='bower_components/metrics-graphics/dist/metricsgraphics.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='css/dashboard.css') }}?q={{ ctx['ts'] }}"
  rel="stylesheet">
<!--suppress CssUnusedSymbol -->
<style> {# Bigger fonts for graphs #}
  .mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-active-datapoint {
  font-size: 1.5rem;
  }
</style>
{% endblock %}
{% block content %}
{{ super() }}

<main role="main" class="container">
  {% if ctx['is_empty'] %}
    <div class="starter-template" style="padding: 0px 15px; text-align: center;">
      <h1>No images to annotate.</h1>
      <p class="lead">
        Statistics: {{ctx['stats']['user_checked']}} images checked, {{ctx['stats']['user_reannotated']}} images reannotated.
        <br> <a href="/reannotation">Go back</a> to select task.
      </p>
    </div>
  {% else %}
    <h2 style="margin-top: 0px;">Find all images with
      <span class="text-info">
      {{'woman' if ctx['is_male'] else 'man'}}
      </span>
      <small>
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
        <span class="pointer glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#instructions-modal"></span>
      </small>
      <!--<small><span style="margin-left: 10px;">Progress: {{ctx['stats']['total_checked']}}/{{ctx['stats']['total']}}</span></small>-->
      <form id='form_send' method="post" action="/update_gender_data" style="display: inline-block;">
        {{ form.csrf_token }}
        {{ form.is_male() }}
        {{ form.gender_data() }}
        <button type="button" style="margin-left: 10px; min-width: 100px;" class="btn btn-success">Next</button>
      </form>
    </h2>
    {% for sample in ctx['samples'] %}
        <div class="sample-card {{'bg-info' if ctx['is_male'] else 'bg-warning'}}"
          data-sample-id="{{sample['id']}}">
          <img src="{{ sample['image'] }}" role="button" class="img-card">
          <div class="caption">
            <div class="btn-group" role="group">
              <button type="button" style="width: 63px;" class="btn btn-default btn-gender">{{'woman' if ctx['is_male'] else 'man'}}</button>
              <button type="button" style="width: 49px;" class="btn btn-default btn-gender-hard">hard</button>
              <button type="button" style="width: 39px;" class="btn btn-default btn-gender-bad">bad</button>
            </div>
          </div>
          <div class="gender-data-container" data-sample-id="{{sample['id']}}"></div>
        </div>
    {% endfor %}
    <div class="footer" style="height: 40px;"></div>
  {% endif %}
</main>

<!-- Modal -->
<div id="instructions-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Annotation instructions</h4>
      </div>
      <div class="modal-body">
        <p>Some annotation instructions.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/holderjs/holder.min.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/bootstrap-select/js/bootstrap-select.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='js/gender-manager.js') }}?q={{ctx['ts']}}"></script>

<script type="text/javascript">

  $(document).ready(function() {
    var global_is_male = {{ '1' if ctx['is_male'] else '0' }};
    GenderManager.init(global_is_male);
  });
</script>
{% endblock %}