{% extends 'base.html' %}
{% set active_page = 'reannotation' %} {# For menu highlight #}
{% block title %}{{ super() }}Marking{% endblock %}
{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='bower_components/metrics-graphics/dist/metricsgraphics.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}"
  rel="stylesheet">
<link href="{{ url_for('static', filename='css/reannotation.css') }}?q={{ctx['ts']}}"
  rel="stylesheet">
<!--suppress CssUnusedSymbol -->
<style> {# Bigger fonts for graphs #}
  .mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-active-datapoint {
  font-size: 1.5rem;
  }
</style>
{% endblock %}
{% block content %}
{{ super() }}

<main role="main" class="container">
  <!--<h2 style="margin-top: 0px;">Current tasks</h2>-->
  <div id="main-list-group" class="list-group" style="margin-top: 0px;">
    {% for problem in problems %}
      <div id="{{problem['name_id']}}_content"
           class="list-group-item justify-content-between {{ 'disabled' if not problem['enabled'] }}"
           style="padding: 0px;" data-name-id="{{ problem['name_id'] }}">

        <h3 id="{{problem['name_id']}}_header" class="list-group-item-heading" style="margin: 15px;">
          {{ problem['name'] }}
        </h3>

        <div id="{{problem['name_id']}}_items"
             style="{{'' if problem['enabled'] else 'display:none;'}}"
             class="list-group">

          <a id="{{problem['name_id']}}_annotation"
             href="{{problem['annotation_url'] if problem['enabled'] else '#'}}"
             class="list-group-item annotation-subsection-item">

            <h4 class="list-group-item-heading lead">Annotation</h4>
            <p class="lead list-group-item-text">
              total samples:
              <span class="count-total label label-info">{{ problem['stats']['total'] if 'stats' in problem else 0 }}</span>
              , to check:
              <span class="count-to-check label label-info">{{ problem['stats']['to_check'] if 'stats' in problem else 0 }}</span>
              , checked:
              <span class="count-checked label label-success">{{ problem['stats']['total_checked'] if 'stats' in problem else 0 }}</span>
              , reannotated:
              <span class="count-reannotated label label-success">{{ problem['stats']['total_reannotated'] if 'stats' in problem else 0 }}</span>
            </p>
          </a>

          <a id="{{problem['name_id']}}_metrics"
             href="#"
             style="{{'' if 'metrics' in problem else 'display:none;'}}"
             class="list-group-item annotation-subsection-item">
            <h4 class="list-group-item-heading lead">Metrics</h4>
            <p class="lead list-group-item-text">
              accuracy: <span class="accuracy label label-info">0.99992112</span>
              , accuracy grouth: <span class="accuracy-grouth label label-success">1.2%</span>
            </p>
          </a>
          <div id="{{problem['name_id']}}_manager"
               style="{{'' if 'tasks' in problem else 'display:none;'}}"
               class="list-group-item annotation-subsection-item">
            <h4 class="list-group-item-heading lead">Manage</h4>
            <p class="lead list-group-item-text" style="margin-top: 15px;">
              {% if 'tasks' in problem %}
                {% for task in problem['tasks'] %}
                  <div id="{{problem['name_id']+'_'+task['problem_type']}}"
                       class="task-row row">
                    <div class="col-sm-2 task-action-btn">
                      {% set processing = 1 if 'finished_ts' in task and task['finished_ts'] is none else 0 %}
                      {% if processing  %}
                        <button type="button"
                                data-state="on"
                                data-stop-url="{{task['stop_url']}}"
                                data-start-url="{{task['start_url']}}"
                                class="btn btn-warning {{'disabled' if task['start_url']=='#' else ''}}">
                          Stop
                        </button>
                      {% else %}
                        <button type="button"
                                data-state="off"
                                data-stop-url="{{task['stop_url']}}"
                                data-start-url="{{task['start_url']}}"
                                class="btn btn-success {{'disabled' if task['start_url']=='#' else ''}}">
                          {{task['label']}}
                        </button>
                      {% endif %}
                    </div>
                    <div class="col-sm-10 status-container">
                      <div class="progress-nanobar-container">
                        <div class="progress-nanobar"></div>
                        <div class="progress-percent">0%</div>
                        <div class="progress-status"></div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>

{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/holderjs/holder.min.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/bootstrap-select/js/bootstrap-select.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='bower_components/nanobar/nanobar.min.js') }}"></script>

<script type="text/javascript"
  src="{{ url_for('static', filename='js/reannotation-manager.js') }}?q={{ctx['ts']}}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var json_data = JSON.parse('{{ problems|tojson }}');
    var update_url = '{{ update_url }}';
    ReannotationManager.init(update_url);
    ReannotationManager.update(json_data);
  });
</script>
{% endblock %}