{% extends 'base.html' %}
{% set active_page = 'reports' %}

{% block title %}{{ super() }}Reports{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='bower_components/metrics-graphics/dist/metricsgraphics.css') }}"
          rel="stylesheet">
    <!--suppress CssUnusedSymbol -->
    <style>
        .mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text, .mg-active-datapoint, .mg-line-legend text {
            font-size: 1.5rem;
        }

        {% set line_colors = ['#0000ff', '#05b378', '#db4437', '#f8b128', '#5c5c5c'] %}
        {% set cameras_count = cameras.__len__() %}
        {% for i in range(6, cameras_count + 1) %}
            {% set current_color =  line_colors[(i + 4) % 5] %}
            .mg-line{{ i }}-color {
                stroke: {{ current_color }};
            }

            .mg-area{{ i }}-color {
                fill: {{ current_color }};
            }

            .mg-hover-line{{ i }}-color {
                fill: {{ current_color }};
            }

            .mg-line{{ i }}-legend-color {
                color: {{ current_color }};
            }
        {% endfor %}
    </style>
    <link href="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"
          rel="stylesheet">
    <link href="/static/css/bootstrap-spinner.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <h1>Reports</h1>

        {% set cameras_count = cameras.__len__() %}
        {% if cameras_count > 0 %}
            <div class="row">
                <div class="col-lg-6">
                    <h2>Cameras queue sizes</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 btn-group text-center modify-time-period-controls">
                    <button type="button" class="btn btn-default"
                            data-time-period-secs="{{ 92 * 24 * 60 * 60 }}">Quater
                    </button>
                    <button type="button" class="btn btn-default"
                            data-time-period-secs="{{ 31 * 24 * 60 * 60 }}">Last month
                    </button>
                    <button type="button" class="btn btn-default"
                            data-time-period-secs="{{ 1 * 24 * 60 * 60 }}">Last day
                    </button>
                    <button type="button" class="btn btn-default active"
                            data-time-period-secs="{{ 1 * 60 * 60 }}">Last hour
                    </button>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-graph-start">
                            <span class="input-group-addon">Start date/time</span>
                            <input type="text" class="form-control" title="Start date/time"/>
                            <span class="input-group-addon">
                                {{ icon('calendar') }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-graph-end">
                            <span class="input-group-addon">End date/time</span>
                            <input type="text" class="form-control" title="End date/time"/>
                            <span class="input-group-addon">
                                {{ icon('calendar') }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h4>Legend</h4>
                    <div class="list-group" id="chart-legend">
                        {% set line_colors = ['#0000ff', '#05b378', '#db4437', '#f8b128', '#5c5c5c'] %}
                        {% for camera in cameras %}
                            {% set current_color =  line_colors[loop.index0 % 5] %}
                            <button type="button" class="list-group-item {{ 'list-group-item-info' if loop.index0 == 0 }}">
                                <span style="color: {{ current_color }}">— {{ camera.name }}</span>
                            </button>
                        {% endfor %}
                    </div>
                    <span class="help-block">Click on legend to hide/show camera</span>
                </div>
                <div id="chart-container" class="col-lg-10"></div>
            </div>

            <h2>CSV reports</h2>
            <div class="row">
                <div class="col-lg-12"><div class="panel panel-default"><div class="panel-body">
                    <label for="cameras-selector">Cameras to include in report</label>
                    <div class="form-group">
                        {% set cameras_count = cameras.__len__() %}
                        <select multiple class="form-control" id="cameras-selector" size="{{ cameras_count }}">
                            {% for camera in cameras %}
                                <option selected value="{{ camera.id }}">{{ camera.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="help-block">Press <kbd>Ctrl</kbd> or <kbd>Shift</kbd> to choose multiple</span>

                    <label for="datetimepicker-start-input">Start date/time</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-start">
                            <input type="text" class="form-control" id="datetimepicker-start-input"/>
                            <span class="input-group-addon">
                                {{ icon('calendar') }}
                            </span>
                        </div>
                    </div>
                    <label for="datetimepicker-end-input">End date/time</label>
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker-end">
                            <input type="text" class="form-control" id="datetimepicker-end-input"/>
                            <span class="input-group-addon">
                                {{ icon('calendar') }}
                            </span>
                        </div>
                    </div>
                    <label for="spinner-mindetections">Minimimal people count</label>
                    <div class="form-group">
                        <div class="input-group spinner">
                            <input type="text" class="form-control" id="spinner-mindetections" value="0" min="0" max="20">
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <label for="spinner-maxdetections">Maximal people count</label>
                    <div class="form-group">
                        <div class="input-group spinner">
                            <input type="text" class="form-control" id="spinner-maxdetections" value="1000" min="1" max="1000">
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>
                    </div>

                    <label>Frequency</label>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <div class="input-group spinner">
                                <div class="input-group-addon">
                                    Hours
                                </div>
                                <input title='Frequency hours' type="text" class="form-control" id="spinner-hours"
                                       value="0" min="0">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group spinner">
                                <div class="input-group-addon">
                                    Min
                                </div>
                                <input title='Frequency minutes' type="text" class="form-control" id="spinner-minutes"
                                       value="0" min="0" max="59">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group spinner">
                                <div class="input-group-addon">
                                    Sec
                                </div>
                                <input title='Frequency seconds' type="text" class="form-control" id="spinner-seconds"
                                       value="1" min="0" max="59">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pull-right">
                        <button id="download-csv-filtered" type="button" class="btn btn-success">
                            {{ icon('filter') }} Download
                        </button>
                    </div>
                </div></div></div>
            </div>
        {% else %}
            <div class="col-lg-12 text-center">
                <h2>You have no cameras</h2>
                {% if Permission(CameraCreateNeed(), RoleNeed('admin')) %}
                    <button type="button" class="btn btn-lg btn-primary" onclick="camera_new()">
                        {{ icon('plus') }} New camera
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/metrics-graphics/dist/metricsgraphics.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript"
            src="/static/js/bootstrap-spinner.js"></script>
    <script type="text/javascript">
        // *************************** New camera ********************
        function camera_new() {
            $.ajax({
                url: '{{ url_for('camera_new') }}',
                type: 'POST',
                success: function (data) {
                    var url = '{{ url_for('camera', id=0) }}';
                    url = url.substring(0, url.length - 1) + data.id + '#setup';
                    $(window).attr('location', url);
                }
            });
        }

        // *************************** Graph *************************
        function initialize_graph() {
            $('#datetimepicker-graph-start').datetimepicker({
                format: 'L LTS'
            });
            $('#datetimepicker-graph-end').datetimepicker({
                format: 'L LTS',
                useCurrent: false // Important! See issue #1075
            });
        }

        function form_graph_url(start_override, end_override) {
            var url = '{{ url_for('reports_json') }}' + '?points=300';
            var start_date = start_override || $('#datetimepicker-graph-start').data('DateTimePicker').date();
            if (start_date) {
                url += '&start_utc_timestamp=' + start_date.utc().format('X')
            }
            var end_date = end_override || $('#datetimepicker-graph-end').data('DateTimePicker').date();
            if (end_date) {
                url += '&end_utc_timestamp=' + end_date.utc().format('X')
            }
            return [url, start_date, end_date];
        }

        function update_graph(data_url, start_date_utc, end_date_utc, update_inputs) {
            MG.data_graphic({
                full_width: true,
                interpolate: 'step-after',
                height: 400,
                right: 40,
                target: document.getElementById('chart-container'),
                chart_type: 'missing-data',
                missing_text: 'Updating data...'
            });

            end_date_utc = end_date_utc || moment.utc();

            if (update_inputs) {
                var datetimepicker_graph_start = $('#datetimepicker-graph-start');
                datetimepicker_graph_start.off('dp.change');
                datetimepicker_graph_start.data('DateTimePicker').date(start_date_utc.toDate());
                datetimepicker_graph_start.on('dp.change', function (e) {
                    $('#datetimepicker-graph-end').data('DateTimePicker').minDate(e.date);
                    $('.modify-time-period-controls button').removeClass('active');
                    var [url, start_date, end_date] = form_graph_url(e.date, null);
                    update_graph(url, start_date, end_date, false);
                });

                var datetimepicker_graph_end = $('#datetimepicker-graph-end');
                datetimepicker_graph_end.off('dp.change');
                datetimepicker_graph_end.data('DateTimePicker').date(end_date_utc.toDate());
                datetimepicker_graph_end.on('dp.change', function (e) {
                    $('#datetimepicker-graph-start').data('DateTimePicker').maxDate(e.date);
                    $('.modify-time-period-controls button').removeClass('active');
                    var [url, start_date, end_date] = form_graph_url(null, e.date);
                    update_graph(url, start_date, end_date, false);
                });
            }

            d3.json(data_url, function (data) {
                var graph_parameters = {
                    full_width: true,
                    interpolate: 'step-after',
                    height: 400,
                    right: 40,
                    target: document.getElementById('chart-container'),
                    x_accessor: 'utc_timestamp',
                    y_accessor: 'people_count',
                    x_sort: false,
                    european_clock: true,
                    mouseover: function (d) {
                        //noinspection JSUnresolvedVariable
                        if (d.people_count === null) {
                            d3.select('#chart-container svg .mg-active-datapoint').text(
                                    moment(d.utc_timestamp).format('L LTS') + ' -- camera '
                                    + d.camera_name + ' stopped working'
                            );
                        } else {
                            //noinspection JSUnresolvedVariable
                            d3.select('#chart-container svg .mg-active-datapoint').text(
                                    moment(d.utc_timestamp).format('L LTS') + ' -- ' + d.people_count +
                                    ' people on camera ' + d.camera_name);
                        }
                    }
                };

                var new_data = [];
                var color_map = [];
                $('#chart-legend').find('button').each(function (index) {
                    if ($(this).hasClass('list-group-item-info')) {
                        new_data.push(data[index]);
                        color_map.push(index + 1);
                    }
                });

                graph_parameters.max_data_size = data.length;
                graph_parameters.custom_line_color_map = color_map;
                data = new_data;

                graph_parameters.data = data.map(function (elem) {
                    var camera_name = elem.camera_name;
                    return elem.data.map(function (elem) {
                        elem.utc_timestamp = moment.unix(elem.utc_timestamp).toDate();
                        elem.camera_name = camera_name;
                        return elem;
                    });
                });

                if (graph_parameters.data.some(function (e) { return e.length > 0 })) {
                    graph_parameters.chart_type = 'line';
                    delete graph_parameters.missing_text;
                } else {
                    graph_parameters.chart_type = 'missing-data';
                    graph_parameters.missing_text = 'No data for the requested period';
                }
                MG.data_graphic(graph_parameters);
            });
        }

        $('.modify-time-period-controls button').click(function () {
            var past_n_secs = $(this).data('timePeriodSecs');
            var url = '{{ url_for('reports_json') }}';
            var start_date = moment.utc().subtract(past_n_secs, 'seconds');
            var start_timestamp = start_date.format('X');
            url += '?start_utc_timestamp=' + start_timestamp + '&points=300';

            update_graph(url, start_date, null, true);

            // change button state
            $(this).addClass('active').siblings().removeClass('active');
        });

        $('#chart-legend').find('button').click(function () {
            $(this).toggleClass('list-group-item-info');
            var [url, start_date, end_date] = form_graph_url(null, null);
            update_graph(url, start_date, end_date, false);
        });

        // *************************** Download CSV *************************
        function initialize_filter_controls() {
            var datetimepicker_start = $('#datetimepicker-start');
            var datetimepicker_end = $('#datetimepicker-end');
            datetimepicker_start.datetimepicker({
                format: 'L LTS',
                defaultDate: moment().subtract(1, 'year')
            });
            datetimepicker_end.datetimepicker({
                format: 'L LTS',
                defaultDate: moment(),
                useCurrent: false // Important! See issue #1075
            });
            datetimepicker_start.on('dp.change', function (e) {
                $('#datetimepicker-end').data('DateTimePicker').minDate(e.date);
            });
            datetimepicker_end.on('dp.change', function (e) {
                $('#datetimepicker-start').data('DateTimePicker').maxDate(e.date);
            });

            $('#spinner-mindetections').val({{ min_detections }});
        }

        $('#download-csv-filtered').click(function () {
            var url = '{{ url_for('reports_csv') }}';

            var start_utc_timestamp = $('#datetimepicker-start').data('DateTimePicker').date().utc().format('X');
            var end_utc_timestamp = $('#datetimepicker-end').data('DateTimePicker').date().utc().format('X');
            var min_detections = $('#spinner-mindetections').val();
            var max_detections = $('#spinner-maxdetections').val();
            var frequency = (parseInt($('#spinner-hours').val()) * 60 + parseInt($('#spinner-minutes').val())) * 60
                        + parseInt($('#spinner-seconds').val());

            url += '?start_utc_timestamp=' + start_utc_timestamp  + '&end_utc_timestamp=' + end_utc_timestamp
                    + '&min_detections=' + min_detections + '&max_detections=' + max_detections
                    + '&frequency=' + frequency;

            url += '&camera_ids=';
            $("#cameras-selector").find(":selected").each( function(index) {
                if (index != 0) {
                    url += ','
                }
                url += $(this).val();
            });

            window.open(url);
        });

        // *************************** Initialization *************************
        $(document).ready(function() {
            initialize_graph();
            initialize_filter_controls();
            $('.modify-time-period-controls > .active').trigger('click');
        });
    </script>
{% endblock %}
