{% extends 'base.html' %}
{% if user.id == current_user.id %}
    {% set active_page = 'my_profile' %}
{% endif %}

{% block title %}{{ super() }}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <ul class="list-group">
                    <li class="list-group-item">
                        {{gettext('First name')}} <span class="badge">{{ user.first_name }}</span>
                    </li>
                    <li class="list-group-item">
                        {{gettext('Last name')}} <span class="badge">{{ user.last_name }}</span>
                    </li>
                    <li class="list-group-item">
                        {{gettext('Email')}} <span class="badge">{{ user.email }}</span>
                    </li>
                    <li class="list-group-item">
                        {{gettext('Last login')}}
                        <span class="badge">
                            {% if user.last_login_at %}
                                {{ momentjs(user.last_login_at).format_full() }}
                            {% else %}
                                {{gettext('Never before')}}
                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
            {% if user.id == current_user.id %}
                <div class="col-lg-4">
                    <h2>{{gettext('Change password')}}</h2>
                    <form action="#" method="POST" name="change_password_form">
                        {% import 'bootstrap/wtf.html' as wtf %}
                        {{ change_password_form.hidden_tag() }}
                        {{ wtf.form_errors(change_password_form, hiddens='only') }}

                        <div class="form-group required">
                            <label class="control-label" for="password">{{gettext('Password')}}</label>
                            <input class="form-control" id="password" name="password" required="" type="password" value="">
                        </div>

                        <div class="form-group  required">
                            <label class="control-label" for="new_password">{{gettext('New Password')}}</label>
                            <input class="form-control" id="new_password" name="new_password" required="" type="password" value="">
                        </div>

                        <div class="form-group ">
                            <label class="control-label" for="new_password_confirm">{{gettext('Retype Password')}}</label>
                            <input class="form-control" id="new_password_confirm" name="new_password_confirm" type="password" value="">
                        </div>

                        <input class="btn btn-primary btn-lg btn-block" name="submit" type="submit"
                               value="{{gettext('Change password')}}">
                    </form>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
